* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100;
}

.subheader .subheader_official {
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 6px;
}

.subheader .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
    text-decoration: none;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    margin-top: 19px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo {
    min-height: 800px;
    background: url('../images/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}


.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
} 